<nav id = "navbar-example" class = "navbar navbar-default navbar-static" role = "navigation">
   
   <div class = "navbar-header">
      <button class = "navbar-toggle" type = "button" data-toggle = "collapse" 
         data-target = ".bs-js-navbar-scrollspy">
         <span class = "sr-only"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
		
      <a class = "navbar-brand" href = "#">Electrodata gestion de colas</a>
   </div>
   
   <div class = "collapse navbar-collapse bs-js-navbar-scrollspy">
      <ul class = "nav navbar-nav">
         
         <li class = "dropdown">
            <a href = "#" id = "navbarDrop1" class = "dropdown-toggle" data-toggle = "dropdown">
               Mantenimientos
               <b class = "caret"></b>
            </a>
            <ul class = "dropdown-menu" role = "menu" aria-labelledby = "navbarDrop1">
               <li><a href = "/views/listar_empresas.html" tabindex = "-1">Empresas</a></li>
               <li><a href = "/views/listar_listas.html" tabindex = "-1">listas</a></li>
            </ul>
         </li>
         <li class = "dropdown">
            <a href = "#" id = "navbarDrop1" class = "dropdown-toggle" data-toggle = "dropdown">
               Sesion
               <b class = "caret"></b>
            </a>
            <ul class = "dropdown-menu" role = "menu" aria-labelledby = "navbarDrop1">
               <li><a href = "/views/iniciar_sesion.html" tabindex = "-1">Iniciar sesion</a></li>
               <li><a href = "/views/crear_user.html" tabindex = "-1">Registrar usuario</a></li>
            </ul>
         </li>
         
         <li><a href = "/views/asignar_colaborador.html">Asignacion</a></li>
         <li><a href = "/views/atender_user.html">Atencion</a></li>
         <li><a href = "/views/registrar_accesos.html">Accesos</a></li>
         <li><a href = "/views/solicitar_ticket.html">Solicitar ticket</a></li>
         
      </ul>
   </div>
   
</nav>